In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\Admin\Desktop\6. India Census 2011.csv")

In [3]:
data

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

Q. 1) How will you hide the indexes of the dataframe.

In [4]:
data.style.hide_index()

ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

Q. 2) How can we set the caption / heading on the dataframe.

In [5]:
data.style.set_caption("india")

ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

Q. 3) Show the records related with the districts - New Delhi , Lucknow , Jaipur.

In [6]:
data.head(1)

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679

In [7]:
data.District_name.unique()

array(['Kupwara', 'Badgam', 'Leh(Ladakh)', 'Kargil', 'Punch', 'Rajouri',
       'Kathua', 'Baramula', 'Bandipore', 'Srinagar', 'Ganderbal',
       'Pulwama', 'Shupiyan', 'Anantnag', 'Kulgam', 'Doda', 'Ramban',
       'Kishtwar', 'Udhampur', 'Reasi', 'Jammu', 'Samba', 'Chamba',
       'Kangra', 'Lahul AND Spiti', 'Kullu', 'Mandi', 'Hamirpur', 'Una',
       'Bilaspur', 'Solan', 'Sirmaur', 'Shimla', 'Kinnaur', 'Gurdaspur',
       'Kapurthala', 'Jalandhar', 'Hoshiarpur',
       'Shahid Bhagat Singh Nagar', 'Fatehgarh Sahib', 'Ludhiana', 'Moga',
       'Firozpur', 'Muktsar', 'Faridkot', 'Bathinda', 'Mansa', 'Patiala',
       'Amritsar', 'Tarn Taran', 'Rupnagar', 'Sahibzada Ajit Singh Nagar',
       'Sangrur', 'Barnala', 'Chandigarh', 'Uttarkashi', 'Chamoli',
       'Rudraprayag', 'Tehri Garhwal', 'Dehradun', 'Garhwal',
       'Pithoragarh', 'Bageshwar', 'Almora', 'Champawat', 'Nainital',
       'Udham Singh Nagar', 'Hardwar', 'Panchkula', 'Ambala',
       'Yamunanagar', 'Kurukshetra', 'Kaithal', 'Karnal', 'Panipat',
       'Sonipat', 'Jind', 'Fatehabad', 'Sirsa', 'Hisar', 'Bhiwani',
       'Rohtak', 'Jhajjar', 'Mahendragarh', 'Rewari', 'Gurgaon', 'Mewat',
       'Faridabad', 'Palwal', 'North West', 'North', 'North East', 'East',
       'New Delhi', 'Central', 'West', 'South West', 'South',
       'Ganganagar', 'Hanumangarh', 'Bikaner', 'Churu', 'Jhunjhunun',
       'Alwar', 'Bharatpur', 'Dhaulpur', 'Karauli', 'Sawai Madhopur',
       'Dausa', 'Jaipur', 'Sikar', 'Nagaur', 'Jodhpur', 'Jaisalmer',
       'Barmer', 'Jalor', 'Sirohi', 'Pali', 'Ajmer', 'Tonk', 'Bundi',
       'Bhilwara', 'Rajsamand', 'Dungarpur', 'Banswara', 'Chittaurgarh',
       'Kota', 'Baran', 'Jhalawar', 'Udaipur', 'Pratapgarh', 'Saharanpur',
       'Muzaffarnagar', 'Bijnor', 'Moradabad', 'Rampur',
       'Jyotiba Phule Nagar', 'Meerut', 'Baghpat', 'Ghaziabad',
       'Gautam Buddha Nagar', 'Bulandshahr', 'Aligarh', 'Mahamaya Nagar',
       'Mathura', 'Agra', 'Firozabad', 'Mainpuri', 'Budaun', 'Bareilly',
       'Pilibhit', 'Shahjahanpur', 'Kheri', 'Sitapur', 'Hardoi', 'Unnao',
       'Lucknow', 'Rae Bareli', 'Farrukhabad', 'Kannauj', 'Etawah',
       'Auraiya', 'Kanpur Dehat', 'Kanpur Nagar', 'Jalaun', 'Jhansi',
       'Lalitpur', 'Mahoba', 'Banda', 'Chitrakoot', 'Fatehpur',
       'Kaushambi', 'Allahabad', 'Bara Banki', 'Faizabad',
       'Ambedkar Nagar', 'Sultanpur', 'Bahraich', 'Shrawasti',
       'Balrampur', 'Gonda', 'Siddharthnagar', 'Basti',
       'Sant Kabir Nagar', 'Mahrajganj', 'Gorakhpur', 'Kushinagar',
       'Deoria', 'Azamgarh', 'Mau', 'Ballia', 'Jaunpur', 'Ghazipur',
       'Chandauli', 'Varanasi', 'Sant Ravidas Nagar (Bhadohi)',
       'Mirzapur', 'Sonbhadra', 'Etah', 'Kanshiram Nagar',
       'Pashchim Champaran', 'Purba Champaran', 'Sheohar', 'Sitamarhi',
       'Madhubani', 'Supaul', 'Araria', 'Kishanganj', 'Purnia', 'Katihar',
       'Madhepura', 'Saharsa', 'Darbhanga', 'Muzaffarpur', 'Gopalganj',
       'Siwan', 'Saran', 'Vaishali', 'Samastipur', 'Begusarai',
       'Khagaria', 'Bhagalpur', 'Banka', 'Munger', 'Lakhisarai',
       'Sheikhpura', 'Nalanda', 'Patna', 'Bhojpur', 'Buxar',
       'Kaimur (Bhabua)', 'Rohtas', 'Aurangabad', 'Gaya', 'Nawada',
       'Jamui', 'Jehanabad', 'Arwal', 'North  District', 'West District',
       'South District', 'East District', 'Tawang', 'West Kameng',
       'East Kameng', 'Papum Pare', 'Upper Subansiri', 'West Siang',
       'East Siang', 'Upper Siang', 'Changlang', 'Tirap',
       'Lower Subansiri', 'Kurung Kumey', 'Dibang Valley',
       'Lower Dibang Valley', 'Lohit', 'Anjaw', 'Mon', 'Mokokchung',
       'Zunheboto', 'Wokha', 'Dimapur', 'Phek', 'Tuensang', 'Longleng',
       'Kiphire', 'Kohima', 'Peren', 'Senapati', 'Tamenglong',
       'Churachandpur', 'Bishnupur', 'Thoubal', 'Imphal West',
       'Imphal East', 'Ukhrul', 'Chandel', 'Mamit', 'Kolasib', 'Aizawl',
       'Champhai', 'Serchhip', 'Lunglei', 'Lawngtlai', 'Saiha',
       'West Tripura', 'South Tripura', 'Dhalai', 'North Tripura',
       'West Garo Hills', 'East Garo Hills', 'South Garo Hills',
       'West Khasi Hills', 'Ribhoi', 'East Khasi Hills', 'Jaintia Hills',
       'Kokrajhar', 'Dhubri', 'Goalpara', 'Barpeta', 'Morigaon', 'Nagaon',
       'Sonitpur', 'Lakhimpur', 'Dhemaji', 'Tinsukia', 'Dibrugarh',
       'Sivasagar', 'Jorhat', 'Golaghat', 'Karbi Anglong', 'Dima Hasao',
       'Cachar', 'Karimganj', 'Hailakandi', 'Bongaigaon', 'Chirang',
       'Kamrup', 'Kamrup Metropolitan', 'Nalbari', 'Baksa', 'Darrang',
       'Udalguri', 'Darjiling', 'Jalpaiguri', 'Koch Bihar',
       'Uttar Dinajpur', 'Dakshin Dinajpur', 'Maldah', 'Murshidabad',
       'Birbhum', 'Barddhaman', 'Nadia', 'North Twenty Four Parganas',
       'Hugli', 'Bankura', 'Puruliya', 'Haora', 'Kolkata',
       'South Twenty Four Parganas', 'Paschim Medinipur',
       'Purba Medinipur', 'Garhwa', 'Chatra', 'Kodarma', 'Giridih',
       'Deoghar', 'Godda', 'Sahibganj', 'Pakur', 'Dhanbad', 'Bokaro',
       'Lohardaga', 'Purbi Singhbhum', 'Palamu', 'Latehar', 'Hazaribagh',
       'Ramgarh', 'Dumka', 'Jamtara', 'Ranchi', 'Khunti', 'Gumla',
       'Simdega', 'Pashchimi Singhbhum', 'Saraikela-Kharsawan', 'Bargarh',
       'Jharsuguda', 'Sambalpur', 'Debagarh', 'Sundargarh', 'Kendujhar',
       'Mayurbhanj', 'Baleshwar', 'Bhadrak', 'Kendrapara',
       'Jagatsinghapur', 'Cuttack', 'Jajapur', 'Dhenkanal', 'Anugul',
       'Nayagarh', 'Khordha', 'Puri', 'Ganjam', 'Gajapati', 'Kandhamal',
       'Baudh', 'Subarnapur', 'Balangir', 'Nuapada', 'Kalahandi',
       'Rayagada', 'Nabarangapur', 'Koraput', 'Malkangiri', 'Koriya',
       'Surguja', 'Jashpur', 'Raigarh', 'Korba', 'Janjgir - Champa',
       'Kabeerdham', 'Rajnandgaon', 'Durg', 'Raipur', 'Mahasamund',
       'Dhamtari', 'Uttar Bastar Kanker', 'Bastar', 'Narayanpur',
       'Dakshin Bastar Dantewada', 'Bijapur', 'Sheopur', 'Morena',
       'Bhind', 'Gwalior', 'Datia', 'Shivpuri', 'Tikamgarh', 'Chhatarpur',
       'Panna', 'Sagar', 'Damoh', 'Satna', 'Rewa', 'Umaria', 'Neemuch',
       'Mandsaur', 'Ratlam', 'Ujjain', 'Shajapur', 'Dewas', 'Dhar',
       'Indore', 'Khargone (West Nimar)', 'Barwani', 'Rajgarh', 'Vidisha',
       'Bhopal', 'Sehore', 'Raisen', 'Betul', 'Harda', 'Hoshangabad',
       'Katni', 'Jabalpur', 'Narsimhapur', 'Dindori', 'Mandla',
       'Chhindwara', 'Seoni', 'Balaghat', 'Guna', 'Ashoknagar', 'Shahdol',
       'Anuppur', 'Sidhi', 'Singrauli', 'Jhabua', 'Alirajpur',
       'Khandwa (East Nimar)', 'Burhanpur', 'Kachchh', 'Banas Kantha',
       'Patan', 'Mahesana', 'Sabar Kantha', 'Gandhinagar', 'Ahmadabad',
       'Surendranagar', 'Rajkot', 'Jamnagar', 'Porbandar', 'Junagadh',
       'Amreli', 'Bhavnagar', 'Anand', 'Kheda', 'Panch Mahals', 'Dohad',
       'Vadodara', 'Narmada', 'Bharuch', 'The Dangs', 'Navsari', 'Valsad',
       'Surat', 'Tapi', 'Diu', 'Daman', 'Dadra AND Nagar Haveli',
       'Nandurbar', 'Dhule', 'Jalgaon', 'Buldana', 'Akola', 'Washim',
       'Amravati', 'Wardha', 'Nagpur', 'Bhandara', 'Gondiya',
       'Gadchiroli', 'Chandrapur', 'Yavatmal', 'Nanded', 'Hingoli',
       'Parbhani', 'Jalna', 'Nashik', 'Thane', 'Mumbai Suburban',
       'Mumbai', 'Pune', 'Ahmadnagar', 'Bid', 'Latur', 'Osmanabad',
       'Solapur', 'Satara', 'Ratnagiri', 'Sindhudurg', 'Kolhapur',
       'Sangli', 'Adilabad', 'Nizamabad', 'Karimnagar', 'Medak',
       'Hyderabad', 'Rangareddy', 'Mahbubnagar', 'Nalgonda', 'Warangal',
       'Khammam', 'Srikakulam', 'Vizianagaram', 'Visakhapatnam',
       'East Godavari', 'West Godavari', 'Krishna', 'Guntur', 'Prakasam',
       'Sri Potti Sriramulu Nellore', 'Y.S.R.', 'Kurnool', 'Anantapur',
       'Chittoor', 'Belgaum', 'Bagalkot', 'Bidar', 'Raichur', 'Koppal',
       'Gadag', 'Dharwad', 'Uttara Kannada', 'Haveri', 'Bellary',
       'Chitradurga', 'Davanagere', 'Shimoga', 'Udupi', 'Chikmagalur',
       'Tumkur', 'Bangalore', 'Mandya', 'Hassan', 'Dakshina Kannada',
       'Kodagu', 'Mysore', 'Chamarajanagar', 'Gulbarga', 'Yadgir',
       'Kolar', 'Chikkaballapura', 'Bangalore Rural', 'Ramanagara',
       'North Goa', 'South Goa', 'Lakshadweep', 'Kasaragod', 'Kannur',
       'Wayanad', 'Kozhikode', 'Malappuram', 'Palakkad', 'Thrissur',
       'Ernakulam', 'Idukki', 'Kottayam', 'Alappuzha', 'Pathanamthitta',
       'Kollam', 'Thiruvananthapuram', 'Thiruvallur', 'Chennai',
       'Kancheepuram', 'Vellore', 'Tiruvannamalai', 'Viluppuram', 'Salem',
       'Namakkal', 'Erode', 'The Nilgiris', 'Dindigul', 'Karur',
       'Tiruchirappalli', 'Perambalur', 'Ariyalur', 'Cuddalore',
       'Nagapattinam', 'Thiruvarur', 'Thanjavur', 'Pudukkottai',
       'Sivaganga', 'Madurai', 'Theni', 'Virudhunagar', 'Ramanathapuram',
       'Thoothukkudi', 'Tirunelveli', 'Kanniyakumari', 'Dharmapuri',
       'Krishnagiri', 'Coimbatore', 'Tiruppur', 'Yanam', 'PONDICHERRY',
       'Mahe', 'Karaikal', 'Nicobars', 'North  AND Middle Andaman',
       'South Andaman'], dtype=object)

In [9]:
 data[data.District_name.isin(["New Delhi","Lucknow","Jaipur"])]

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
93,94,NCT OF DELHI,New Delhi,142004,77942,64062,114179,59541,46940,12601,...,4852,2933,312,679,15942,17742,23934,76076,43913,21773
109,110,RAJASTHAN,Jaipur,6626178,3468507,3157671,4300965,2464893,1714947,749946,...,12708,18782,1020,81079,659389,455527,703673,4091148,1646480,884057
156,157,UTTAR PRADESH,Lucknow,4589838,2394476,2195362,3127260,1542806,1226399,316407,...,20493,23883,3877,4975,428121,378742,639260,2678289,1161686,685258

Q. 4) Calculate state-wise :
A. Total number of population.

In [11]:
data.groupby("District_name").Population.sum()

District_name
Adilabad       2741239
Agra           4418797
Ahmadabad      7214225
Ahmadnagar     4543159
Aizawl          400309
                ...
Yadgir         1174271
Yamunanagar    1214205
Yanam            55626
Yavatmal       2772348
Zunheboto       140757
Name: Population, Length: 634, dtype: int64

 Total no. of the population with different religions.

In [13]:
data.groupby("District_name")['Christians','Sikhs'].sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_12528\2173785663.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby("District_name")['Christians','Sikhs'].sum()

               Christians  Sikhs
District_name
Adilabad            15422   1377
Agra                10076  12057
Ahmadabad           50754  14542
Ahmadnagar          22766   5431
Aizawl             379134    105
...                   ...    ...
Yadgir               8677    331
Yamunanagar          3646  84455
Yanam                 873      3
Yavatmal             4567   1596
Zunheboto          136995     39

[634 rows x 2 columns]

Q. 5) How many Male Workers were there in Maharashtra state ?

In [21]:
data[data["District_name"] == "MAHARASHTRA"]["Male_Workers"].sum()

0

 6) How to set a column as index of the dataframe ?

In [23]:
data.set_index("District_code")

,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,Cultivator_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
District_code,,,,,,,,,,,,,,,,,,,,,
1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,34680,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,55299,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,20869,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,8266,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,54264,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,43,...,958,3,21,14,8773,5711,4475,19760,12543,9428
637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,2372,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,322,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,10727,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,5518,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

Q. 7a) Add a Suffix to the column names.

In [24]:
data.add_suffix("-p")

,District_code-p,State_name-p,District_name-p,Population-p,Male-p,Female-p,Literate-p,Workers-p,Male_Workers-p,Female_Workers-p,...,Christians-p,Sikhs-p,Buddhists-p,Jains-p,Secondary_Education-p,Higher_Education-p,Graduate_Education-p,Age_Group_0_29-p,Age_Group_30_49-p,Age_Group_50-p
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

Q. 7b) Add a Prefix to the column names.

In [25]:
data.add_prefix("-p")

,-pDistrict_code,-pState_name,-pDistrict_name,-pPopulation,-pMale,-pFemale,-pLiterate,-pWorkers,-pMale_Workers,-pFemale_Workers,...,-pChristians,-pSikhs,-pBuddhists,-pJains,-pSecondary_Education,-pHigher_Education,-pGraduate_Education,-pAge_Group_0_29,-pAge_Group_30_49,-pAge_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128